{% extends "layout.html" %}
{% block body %}

<nav class="w3-bar">
    <div class="w3-bar-item">
        <div class="logo">
            <h1> Logo </h1> 
        </div>
    </div>
    <div class="w3-bar-item">
        <div class="welcome-teacher">
            <h3>Welcome, <br> Teacher {{ teacher.first_name }}!</h3>
        </div>
    </div>
    <div class="teacher-navigation">
        <h1><a href="/logout" class="log-out-btn" >Log Out</a></h1>
    </div>
</nav>

<style>
  html, body {
    height: auto;
    overflow: hidden;
  }
</style>

<table class="years-table">
    {% for year in years|unique %}
    <tr>
        <td> <a href="/teacher/{{ teacher.id }}/year/{{ year[0] }}" class="btn years-table-btn">Year {{ year[0] }}</a> </td>
    </tr>
    {% endfor %}
</table>

<div class="back-year-students">
    <a href="/teacher/{{ teacher.id }}/year/{{ year }}" class="btn">Back</a>
</div>

<div class="four-column-students">
    {% for student in students %} 
    <a href="{{ url_for('student', id=teacher.id, year=year, group=group, student_id=student[0]) }}">
      <div class="w3-card-4">   
          <img src="{{ url_for('static', filename='number_images/' ~ student[2]) }}" alt="{{ student[1] }}">
            <div class="info">
                <h3> {{ student[1] }}</h3>
            </div>
      </div>
    </a>
    {% endfor %}
  </div>


{% endblock %}