{% extends "layout.html" %}
{% block body %}

<nav class="w3-bar">
    <div class="w3-bar-item">
        <div class="logo">
            <h1> Logo </h1> 
        </div>
    </div>
    <div class="w3-bar-item">
        <div class="welcome-teacher">
            <h3>Welcome, <br> Teacher {{ teacher.first_name }}!</h3>
        </div>
    </div>
    <div class="teacher-navigation">
        <h1><a href="/logout" class="log-out-btn" >Log Out</a></h1>
    </div>
</nav>

<style>
  html, body {
    height: auto;
    overflow: hidden;
  }
</style>

<div class="one-column">
    <div class="w3-card-4">
        <img src="{{ url_for('static', filename='number_images/' ~ student[0][5]) }}" alt="{{ student[0][1] }}">
    </div>
    <div class="info w3-card-4">
        <div class="student-info-table">
            <table>
                <tr>
                    <th> Name </th>
                    <td> {{ student[1][1] }} </td>
                </tr>
                <tr>
                    <th> Age </th>
                    <td> {{ student[2][2] }} </td>
                </tr>
                <tr>
                    <th> Year </th>
                    <td> {{ student[3][3] }} </td>
                </tr>
                <tr>
                    <th> Pronounce </th>
                    <td> {{ url_for('static', filename='pronounces/' ~ student[0][6]) }} </td>
                </tr>
        
            </table>


        </div>
        <div class="courses-table">
            <table>
                <tr>
                    <th colspan="2"> Courses </th>
                </tr>
                <tr>
                    <th> <h3> <strong> Course </strong> </h3> </th>
                    <th> <h3> <strong> Teacher </strong> </h3> </th>
                </tr>
                {% for course in student %}
                <tr>
                    <td> <h3>{{ course[8] }}</h3> </td>
                    <td> <h3>{{ course[9] }} {{ course[10] }}</h3> </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}