{% extends "layout.html" %}
{% block body %}

<nav class="w3-bar">
    <div class="w3-bar-item">
        <div class="logo">
            <h1> Logo </h1> 
        </div>
    </div>
    <div class="w3-bar-item">
        <div class="welcome-teacher">
            <h3>Welcome, <br> Teacher {{ teacher.first_name }}!</h3>
        </div>
    </div>
    <div class="teacher-navigation">
        <h1><a href="/logout" class="log-out-btn" >Log Out</a></h1>
    </div>
</nav>

<style>
  html, body {
    height: auto;
    overflow: hidden;
  }
</style>

<table class="years-table">
    {% for year in years|unique %}
    <tr>
        <td> <a href="/teacher/{{ teacher.id }}/year/{{ year[0] }}" class="btn years-table-btn">Year {{ year[0] }}</a> </td>
    </tr>
    {% endfor %}
</table>

<div class="back-year-students">
    <a href="/teacher/{{ teacher.id }}/year/{{ year }}/group/{{ group }}" class="btn">Back</a>
</div>

<div class="one-column">
    <div class="w3-card-4">
        <img src="{{ url_for('static', filename='number_images/' ~ student[0][5]) }}" alt="{{ student[0][1] }}">
    </div>
    <div class="info">
        <div class="student-info-table">
            <table>
                <tr>
                    <th colspan="2"> Student's Details</th>
                </tr>
                <tr>
                    <th> Name </th>
                    <td> {{ student[1][1] }} </td>
                </tr>
                <tr>
                    <th> Age </th>
                    <td> {{ student[2][2] }} </td>
                </tr>
                <tr>
                    <th> Year </th>
                    <td> {{ student[3][3] }} </td>
                </tr>
                <tr>
                    <th> Pronounce </th>
                    <td>
                        <button class="pronounce-btn" onclick="playPronounce()">🔊 Play</button>
                        <audio id="pronounce-audio" src="{{ url_for('static', filename='pronounces/' ~ student[0][6]) }}"></audio>
                        <h5> {{ student[0][8] }}  </h5>
                    </td>
                </tr>
                <tr>
                    <th colspan="2"> Parent's Details</th>
                </tr>
                <tr>
                <th> Name </th>
                <td>{{ parent_name if parent_name else 'N/A' }}</td>
            </tr>
            <tr>
                <th> Phone </th>
                <td>{{ parent_phone if parent_phone else 'N/A' }}</td>
            </tr>
            <tr>
                <th> Email </th>
                <td>{{ parent_email if parent_email else 'N/A' }}</td>
            </tr>
        
            </table>
        </div>
        <div class="courses-table">
            <table>
                <tr>
                    <th colspan="2"> <strong> Subjects </strong> </th>
                </tr>
                <tr>
                    <th> <h4> Course </h4> </th>
                    <th> <h4> Teacher </h4> </th>
                </tr>
                {% for course in student %}
                <tr>
                    <td> <h3>{{ course[9] }} </h3> </td>
                    <td> <h3>{{ course[10] }} {{ course[11] }} </h3> </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}